.nav {
  padding-left: 60px;
  padding-right: 60px;
  font-size: 20px;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  color: #000000;
  font-weight: 500;
  align-items: center;
}

.nav_link {
  cursor: pointer;
  text-decoration: none;
}

.nav_link:visited {
  color: #000000;
}

.name {
  font-size: 14px;
  color: #FF6464;
}

.wrapper {}

.user_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding-left: 148px;
  padding-right: 148px;
  padding-top: 150px;
  padding-bottom: 60px;
}

.photo {
  -webkit-box-shadow: -33px 40px 0px -8px rgba(237, 247, 250, 0.2);
  -moz-box-shadow: -33px 40px 0px -8px rgba(237, 247, 250, 0.2);
  box-shadow: -33px 40px 0px -8px rgba(237, 247, 250, 0.2);
}

.about_user {}

.title {
  font-size: 44px;
  color: #21243D;
  line-height: 60px;
}

.text {
  color: #21243D;
  font-size: 19px;
  line-height: 24px;
}

.btn_download_resume {
  background-color: #FF6464;
  color: white;
  width: 36%;
  padding: 8px;
  border-color: transparent;
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;
}

.user_photo_box {}

.posts {
  background-color: #EDF7FA;
  padding-left: 148px;
  padding-right: 148px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.info_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subtitle {
  font-size: 22px;
}

.posts_link_view_all {
  font-size: 16px;
  color: #00A8CC;
  cursor: pointer;
  text-decoration: none;
}

.posts_cards {
  display: flex;
  justify-content: space-between;
}

.post_card {
  max-width: 418px;
  max-height: 295px;
  background-color: #FFFFFF;
  border-radius: 4px;
  border-color: transparent;
  padding: 23px;
}

.post_card_title {
  font-size: 26px;
  font-weight: 700;
}

.post_card_box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.post_card_text {
  font-size: 18px;
}

.post_card_description {
  font-size: 16px;
}

.featured_works {
  padding-left: 148px;
  padding-right: 148px;
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.featured_works_title {
  font-size: 22px;
  font-weight: 400;
}

.featured_works_item {
  display: flex;
  gap: 50px;
}

.featured_works_item_box {
  display: flex;
  flex-direction: column;
}

.featured_works_item_title {
  font-size: 30px;
  font-weight: 700;
}

.featured_works_item_div {
  display: flex;
  align-items: center;
  gap: 30px;
}

.featured_works_item_year {
  background-color: #142850;
  border-radius: 16px;
  color: white;
  width: 62px;
  height: 25px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

.featured_works_item_subtitle {
  font-size: 20px;
  color: #8695A4;
}

.featured_works_item_text {
  font-size: 16px;
}

.footer {
  padding-left: 148px;
  padding-right: 148px;
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer_text {
  font-size: 14px;
  font-weight: 400;
}

.social {
  display: flex;
  gap: 50px;
}

.social_link {
  cursor: pointer;
}