.form_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(236, 176, 176) 0%, rgba(238, 122, 122, 0.869) 100%);
}

.input {
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    padding: 10px;
    background-color: #FF6464;
    ;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #971313;
}

.error {
    font-size: 14px;
    text-align: center;
    color: white;
}