.form_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    padding: 10px;
    background-color: #676869;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #4e8fd5;
}